# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build-debug
build-release
#out
googletest
glm
.vs
*.ninja*
*.json
CTestTestfile*
*.log
*.manifest
*.ilk
*.pdb
*.txt
cmake_install.cmake
*.rc
*.res
out/build/x64-Release/CMakeFiles/*
out/build/x64-Debug/CMakeFiles/*
out/build/x64-Release/.cmake/*
out/build/x64-Debug/.cmake/*
out/build/x64-Release/googletest/*
out/build/x64-Debug/googletest/*
out/build/x64-Release/Testing/*
out/build/x64-Debug/Testing/*
out/build/x64-Release/lib/*
out/build/x64-Debug/lib/*
out/build/x64-Release/bin/*
out/build/x64-Debug/bin/*